<!DOCTYPE html>
<html>
<head>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title></title>
</head>
<body>
    <% if (marketIsClosed == false) { %>
        <span class="market_green"> market is open</span>
    <% } else { %>
        <span class="market_red"> market is close</span>
    <% } %>
    <div id="event_info">
        <h1><%=equipe1%>&nbsp;VS&nbsp;<%=equipe2%></h1>
        <h2><%=scoreEquipe1%>&nbsp;:&nbsp;<%=scoreEquipe1%></h2>
        <h4>(<%=statusMatch%>)</h4>
    </div>    
    <h1>Actual Reward : <%=reward%></h1>
<div>
    <form action="/bet" method="post">
        <div  class="my_input">
            <span><%=equipe1%>:&nbsp;<%=cote1%></span>
            <span><input type="radio" id="cote1" name="userBet" value="0" required></span>
        </div>
        <div class="my_input">
            <span>Nul :&nbsp;<%=coteNulle%></span>
            <span><input type="radio" id="coteNulle" name="userBet" value="1" required></span>
        </div>
        <div class="my_input">
            <span><%=equipe2%>:&nbsp;<%=cote2%></span>
            <span><input type="radio" id="cote2" name="userBet" value="2" required></span>
        </div>
        <div class="my_input">
            <span>bet :&nbsp;</span>
            <span><input type="number" id="ether" name="ether" required/></span>
        </div>
        
        <input type="submit" value="bet" />
    </form>
</div>
<div class="encart">
    <a href="/mybets">my bets</a>
</div>
<script src="./js/main.js"></script>
</body>
</html>