<!DOCTYPE html>
<html>
<head>
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title></title>
</head>
<body>
    
    <% if (marketIsClosed == false) { %>
        <span class="market_green"> market is open</span>
    <% } else { %>
        <span class="market_red"> market is close</span>
    <% } %>
    <h1>smart contract : <%=contractName%> </h1>
    
    <h1>Actual Reward : <%=reward%></h1>
<div>
    <form action="/bet" method="post">
        <div>
            <span>Equipe A:&nbsp;</span>
            <span><input type="radio" id="cote1" name="userBet" value="0"><%=cote1%></span>
        </div>
        <div>
            <span>Nul :&nbsp;</span>
            <span><input type="radio" id="coteNulle" name="userBet" value="1"><%=coteNulle%></span>
        </div>
        <div>
            <span>Equipe 2 :&nbsp;</span>
            <span><input type="radio" id="cote2" name="userBet" value="2"><%=cote2%></span>
        </div>
        <input type="submit" value="bet" />
    </form>
</div>
</body>
</html>