<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body onload="renderHello()">
    <span>market is 
    <% if (marketIsClosed == false) { %>
        <span>open</span>
    <% } else { %>
        <span>close</span>
    <% } %>
    <h1>smart contract : <%=contractName%> </h1>
    
    <h1>Reward : <%=reward%></h1>
    
</script>

<div>
    <div>
        <span>Equipe A:&nbsp;</span>
        <span><%=cote1%></span>
    </div>
    <div>
        <span>Nul :&nbsp;</span>
        <span><%=coteNulle%></span>
    </div>
    <div>
        <span>Equipe 2 :&nbsp;</span>
        <span><%=cote2%></span>
    </div>
    <button>bet</button>
</div>
</body>
</html>