<div>
    <h2>Bid and Ask at level zero</h2>
    <p>
        Bid : <span><%=bid.price%></span> quantity : <span><%=bid.quantity%></span> 
    </p>
    <P>
        Ask : <span><%=ask.price%></span> quantity : <span><%=ask.quantity%></span> 
    </P>
    <P>spread : <%=spread%></P>
</div>    